<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/css/custom.form.css">
  <style>
		element.style { width: 180px; }
		.layui-form-label.layui-required:after{
	        content:"*";
	        color:red;
	        position: absolute;
	        top:10px;
	        left:24px;
	    }
  </style>
</head>
<body>
<!-- 新增修改的DIV页面-begin,默认hidden -->
<div class="panel panel-default operation" hidden>
  <div class="panel-heading title"></div>
<div class="layui-card-body">
<form class="layui-form " action="" lay-filter="info" style="width: 700px;margin-top: 10px">
      <input name="id" id="id" hidden/>
        <div class="layui-form-item"   >
      <label class="layui-form-label layui-required " >项目编码</label>
      <div class="layui-input-block">
		<input type="projectCode" name="projectCode"  id="projectCode"  lay-verify="required|projectCode" lay-max="256"   placeholder="请输入项目编码"  autocomplete="off" class="layui-input">
	  </div>
 </div>
      <div class="layui-form-item"   >
      <label class="layui-form-label layui-required " >项目名称</label>
      <div class="layui-input-block">
		<input type="projectName" name="projectName"  id="projectName"  lay-verify="required|projectName" lay-max="256"   placeholder="请输入项目名称"  autocomplete="off" class="layui-input">
	  </div>
 </div>
      <div class="layui-form-item"   >
      <label class="layui-form-label layui-required " >项目类型</label>
      <div class="layui-input-block">
	<select id="dictProjectType" name="dictProjectType" lay-filter="select-type" th:with="type=${@sysDictService.getType('dict_project_type')}">
        <option value="0">请选择</option>
        <option th:each="dict : ${type}" th:text="${dict.label}" th:value="${dict.value}"></option>
    </select>
  </div>
 </div>
      <div class="layui-form-item"   >
      <label class="layui-form-label layui-required " >项目类型细分</label>
      <div class="layui-input-block">
	<select id="dictProjectTypeSub" name="dictProjectTypeSub" lay-filter="select-type" th:with="type=${@sysDictService.getType('dict_project_type_sub')}">
        <option value="0">请选择</option>
        <option th:each="dict : ${type}" th:text="${dict.label}" th:value="${dict.value}"></option>
    </select>
  </div>
 </div>
      <div class="layui-form-item"   >
      <label class="layui-form-label  " >客户编码</label>
      <div class="layui-input-block">
		<input type="text" name="refIdCuscode"  id="refIdCuscode"  placeholder="请输入客户编码" autocomplete="off" class="layui-input">
	  </div>
 </div>
      <div class="layui-form-item"   >
      <label class="layui-form-label layui-required " >客户(委托单位)</label>
      <div class="layui-input-block">
		<input type="refCusname" name="refCusname"  id="refCusname"  lay-verify="required|refCusname" lay-max="256"   placeholder="请输入客户(委托单位)"  autocomplete="off" class="layui-input">
	  </div>
 </div>
      <div class="layui-form-item"   >
      <label class="layui-form-label layui-required " >项目计划开始时间</label>
      <div class="layui-input-block">
	<input type="projectStarttime" name="projectStarttime"  id="projectStarttime" lay-verify="required| date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
  </div>
 </div>
      <div class="layui-form-item"   >
      <label class="layui-form-label layui-required " >项目计划结束时间</label>
      <div class="layui-input-block">
	<input type="projectEndtime" name="projectEndtime"  id="projectEndtime" lay-verify="required| date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
  </div>
 </div>
      <div class="layui-form-item"   >
      <label class="layui-form-label layui-required " >被评估单位</label>
      <div class="layui-input-block">
		<input type="cusnameTodo" name="cusnameTodo"  id="cusnameTodo"  lay-verify="required|cusnameTodo" lay-max="512"   placeholder="请输入被评估单位"  autocomplete="off" class="layui-input">
	  </div>
 </div>
      <div class="layui-form-item"   >
      <label class="layui-form-label layui-required " >项目经理</label>
      <div class="layui-input-block">
		<input type="refProjectManager" name="refProjectManager"  id="refProjectManager"  lay-verify="required|refProjectManager" lay-max="256"   placeholder="请输入项目经理"  autocomplete="off" class="layui-input">
	  </div>
 </div>
      <div class="layui-form-item"   >
      <label class="layui-form-label  " >承接(合伙)人</label>
      <div class="layui-input-block">
		<input type="text" name="refUndertakePerson"  id="refUndertakePerson"  placeholder="请输入承接(合伙)人" autocomplete="off" class="layui-input">
	  </div>
 </div>
      <div class="layui-form-item"   >
      <label class="layui-form-label  " >承做(合伙)人</label>
      <div class="layui-input-block">
		<input type="text" name="refUndertakTpersonDo"  id="refUndertakTpersonDo"  placeholder="请输入承做(合伙)人" autocomplete="off" class="layui-input">
	  </div>
 </div>
      <div class="layui-form-item"   >
      <label class="layui-form-label layui-required " >风险评估等级</label>
      <div class="layui-input-block">
	<select id="dictRiskAssessment" name="dictRiskAssessment" lay-filter="select-type" th:with="type=${@sysDictService.getType('dict_risk_assessment')}">
        <option value="0">请选择</option>
        <option th:each="dict : ${type}" th:text="${dict.label}" th:value="${dict.value}"></option>
    </select>
  </div>
 </div>
      <div class="layui-form-item"   >
      <label class="layui-form-label  " >首次承接</label>
      <div class="layui-input-block">
	<select id="dictFirstUndertake" name="dictFirstUndertake" lay-filter="select-type" th:with="type=${@sysDictService.getType('dict_first_undertake')}">
        <option value="0">请选择</option>
        <option th:each="dict : ${type}" th:text="${dict.label}" th:value="${dict.value}"></option>
    </select>
  </div>
 </div>
      <div class="layui-form-item"   >
      <label class="layui-form-label  " >客户诉求</label>
      <div class="layui-input-block">
	    <textarea placeholder="请输入内容" class="layui-textarea" name="customerReq"  id="customerReq"></textarea>
  </div>
 </div>
      <div class="layui-form-item"   >
      <label class="layui-form-label  " >备注</label>
      <div class="layui-input-block">
		<input type="text" name="remark"  id="remark"  placeholder="请输入备注" autocomplete="off" class="layui-input">
	  </div>
 </div>
      <div class="layui-form-item"   >
      <label class="layui-form-label layui-required " >项目进度</label>
      <div class="layui-input-block">
		<input type="projectProgress" name="projectProgress"  id="projectProgress"  lay-verify="required|projectProgress" lay-max="256"   placeholder="请输入项目进度"  autocomplete="off" class="layui-input">
	  </div>
 </div>
  	<div class="layui-form-item">
  <div class="layui-input-block">
    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
    <button  class="layui-btn layui-btn-primary" id="btn_cancel">返回</button>
  </div>
</div>
</form>
</div>
</div>
<!-- 新增修改的DIV页面-end -->

<!-- 查询列表的DIV页面-start -->
<div class="table_div">
  <div id="searchParam"  shiro:hasPermission="pjProject:list">
    <div class="layui-form-item">
      <div class="layui-input-inline">
    <input type="projectCode" name="projectCodeCondition"  id="projectCodeCondition" class="layui-input"  autocomplete="off" placeholder="请输入项目编码">
      </div>
      <div class="layui-input-inline">
    <input type="projectName" name="projectNameCondition"  id="projectNameCondition" class="layui-input"  autocomplete="off" placeholder="请输入项目名称">
      </div>
      <div class="layui-input-inline">
    <input type="dictProjectType" name="dictProjectTypeCondition"  id="dictProjectTypeCondition" class="layui-input"  autocomplete="off" placeholder="请输入项目类型">
      </div>
      <div class="layui-input-inline">
    <input type="dictProjectTypeSub" name="dictProjectTypeSubCondition"  id="dictProjectTypeSubCondition" class="layui-input"  autocomplete="off" placeholder="请输入项目类型细分">
      </div>
      <div class="layui-input-inline">
    <input type="refCusname" name="refCusnameCondition"  id="refCusnameCondition" class="layui-input"  autocomplete="off" placeholder="请输入客户(委托单位)">
      </div>
      <div class="layui-input-inline">
	<input type="projectStarttime" name="projectStarttimeCondition"  id="projectStarttimeCondition" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
      </div>
      <div class="layui-input-inline">
	<input type="projectEndtime" name="projectEndtimeCondition"  id="projectEndtimeCondition" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
      </div>
      <div class="layui-input-inline">
    <input type="cusnameTodo" name="cusnameTodoCondition"  id="cusnameTodoCondition" class="layui-input"  autocomplete="off" placeholder="请输入被评估单位">
      </div>
      <div class="layui-input-inline">
    <input type="refProjectManager" name="refProjectManagerCondition"  id="refProjectManagerCondition" class="layui-input"  autocomplete="off" placeholder="请输入项目经理">
      </div>
      <div class="layui-input-inline">
    <input type="dictRiskAssessment" name="dictRiskAssessmentCondition"  id="dictRiskAssessmentCondition" class="layui-input"  autocomplete="off" placeholder="请输入风险评估等级">
      </div>
      <div class="layui-input-inline">
    <input type="projectProgress" name="projectProgressCondition"  id="projectProgressCondition" class="layui-input"  autocomplete="off" placeholder="请输入项目进度">
      </div>
      <div class="layui-input-inline ">
        <button class="layui-btn" onclick="search()"  id="search">查询</button>
        <button class="layui-btn"   id="export">导出全部</button>
      </div>
    </div>
  </div>
  <!-- 渲染列表，上面的是工具栏 -->
  <table class="layui-table" id="showTable" lay-filter="showTable" ></table>
</div>
<!-- 查询列表的DIV页面-end -->
<script type="text/html" id="toolbar">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="add"  shiro:hasPermission="pjProject:add">添加</button>
    <button class="layui-btn layui-btn-sm" lay-event="batchDeleted" shiro:hasPermission="pjProject:delete">删除</button>
  </div>
</script>
<script type="text/html" id="tool">
  <a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasPermission="pjProject:update">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" shiro:hasPermission="pjProject:delete">删除</a>
  <a class="layui-btn layui-btn-xs" lay-event="file" shiro:hasPermission="bizCustomerTest:update">附件</a>
</script>

</body>
</html>
<script src="/layui/layui.all.js"></script>
<script src="/layui-ext/tableSelect.js"></script>
<script src="/js/core.util.js"></script>
<script src="/js/jquery.js"></script>
<script>
  //获取token
  var token = CoreUtil.getData("access_token");
  //地址栏转义token中的#号
  var tokenQuery = token.replace("#", "%23");
  var tableIns1;
  var table = layui.table;
  var form = layui.form;
  var layer = layui.layer;
  var layedit = layui.layedit;
  var $ = jQuery = layui.jquery;
  var laydate = layui.laydate;
  var numberInput = layui.numberInput;
  var tableSelect = layui.tableSelect;
  //定义lay全局对象

  layui.config({
        base: '/layui-ext/'
    }).extend({
        treetable: 'treetable-lay/treetable',
        iconPicker: 'icon/iconPicker',
        numberInput: 'numberInput/js/index'
    }).use(['numberInput','table', 'layer', 'laydate' ,'form', 'layedit'], function () {
	numberInput = layui.numberInput;
	
    //加载table
    tableIns1 = table.render({
      elem: '#showTable'
      , contentType: 'application/json'
      , headers: {"authorization": token}
      , page: true //开启分页
      , url: '/pjProject/listByPage' //数据接口
      , method: 'POST'
      ,size: 'sm' //小尺寸的表格
      , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
	        return {
	          "code": res.code, //解析接口状态
	          "msg": res.msg, //解析提示文本
	          "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
	          "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
	        }
      }
      , cols: [
        [
          {type: 'checkbox', fixed: 'left'},  
          {field: 'id', title: '项目ID', sort: true ,hide:true }, 
          {field: 'projectCode', title: '项目编码', sort: true }, 
          {field: 'projectName', title: '项目名称', sort: true }, 
          {field: 'dictProjectType', title: '项目类型', sort: true , templet: function (item) { 	            //获取类型对应的字典label
	            var datas = "[[${@sysDictService.getType('dict_project_type')}]]".replace(/&quot;/g,"\"");
	            return CoreUtil.selectDictLabel(datas, item.dictProjectType);
            }
}, 
          {field: 'dictProjectTypeSub', title: '项目类型细分', sort: true , templet: function (item) { 	            //获取类型对应的字典label
	            var datas = "[[${@sysDictService.getType('dict_project_type_sub')}]]".replace(/&quot;/g,"\"");
	            return CoreUtil.selectDictLabel(datas, item.dictProjectTypeSub);
            }
}, 
          {field: 'refIdCuscode', title: '客户编码', sort: true ,hide:true }, 
          {field: 'refCusname', title: '客户(委托单位)', sort: true }, 
          {field: 'projectStarttime', title: '项目计划开始时间', sort: true }, 
          {field: 'projectEndtime', title: '项目计划结束时间', sort: true }, 
          {field: 'cusnameTodo', title: '被评估单位', sort: true }, 
          {field: 'refProjectManager', title: '项目经理', sort: true }, 
          {field: 'refUndertakePerson', title: '承接(合伙)人', sort: true ,hide:true }, 
          {field: 'refUndertakTpersonDo', title: '承做(合伙)人', sort: true ,hide:true }, 
          {field: 'dictRiskAssessment', title: '风险评估等级', sort: true , templet: function (item) { 	            //获取类型对应的字典label
	            var datas = "[[${@sysDictService.getType('dict_risk_assessment')}]]".replace(/&quot;/g,"\"");
	            return CoreUtil.selectDictLabel(datas, item.dictRiskAssessment);
            }
}, 
          {field: 'dictFirstUndertake', title: '首次承接', sort: true ,hide:true , templet: function (item) { 	            //获取类型对应的字典label
	            var datas = "[[${@sysDictService.getType('dict_first_undertake')}]]".replace(/&quot;/g,"\"");
	            return CoreUtil.selectDictLabel(datas, item.dictFirstUndertake);
            }
}, 
          {field: 'customerReq', title: '客户诉求', sort: true ,hide:true }, 
          {field: 'remark', title: '备注', sort: true ,hide:true }, 
          {field: 'projectProgress', title: '项目进度', sort: true }, 
	          {width: 160, toolbar: "#tool", title: '操作'}
        ]
      ]
      , toolbar: '#toolbar'
    });


//遍历列，并渲染各种表单组件
	tableSelect.render({
		elem: '#refIdCuscode',
		checkedKey: 'id',
		table: {
			url: '/pjProject/listByPage?authorization='+tokenQuery,
			method: 'POST',
			contentType: 'application/json',
			 parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
		        return {
		          "code": res.code, //解析接口状态
		          "msg": res.msg, //解析提示文本
		          "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
		          "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
		        }
		      },
			cols: [
				[
					{ type: 'radio' },
					{ field: 'id', title: 'ID' },
					{ field: 'cusname', title: '标题' },
					{ field: 'fullname', title: '名称' }
				]
			]
		},
		done: function (elem, data) {
			var NEWJSON = []
			layui.each(data.data, function (index, item) {
				NEWJSON.push(item.cusname);
				$("#refId").val(item.id);
				console.log('info');  
			})
			elem.val(NEWJSON.join(","))
		}
	});
	tableSelect.render({
		elem: '#refCusname',
		checkedKey: 'id',
		table: {
			url: '/pjProject/listByPage?authorization='+tokenQuery,
			method: 'POST',
			contentType: 'application/json',
			 parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
		        return {
		          "code": res.code, //解析接口状态
		          "msg": res.msg, //解析提示文本
		          "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
		          "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
		        }
		      },
			cols: [
				[
					{ type: 'radio' },
					{ field: 'id', title: 'ID' },
					{ field: 'cusname', title: '标题' },
					{ field: 'fullname', title: '名称' }
				]
			]
		},
		done: function (elem, data) {
			var NEWJSON = []
			layui.each(data.data, function (index, item) {
				NEWJSON.push(item.cusname);
				$("#refId").val(item.id);
				console.log('info');  
			})
			elem.val(NEWJSON.join(","))
		}
	});
 	//日期
	laydate.render({
	    elem: '#projectStarttime'
	    ,type: 'datetime'
    });
 	//日期
	laydate.render({
	    elem: '#projectEndtime'
	    ,type: 'datetime'
    });
	tableSelect.render({
		elem: '#refProjectManager',
		checkedKey: 'id',
		table: {
			url: '/pjProject/listByPage?authorization='+tokenQuery,
			method: 'POST',
			contentType: 'application/json',
			 parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
		        return {
		          "code": res.code, //解析接口状态
		          "msg": res.msg, //解析提示文本
		          "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
		          "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
		        }
		      },
			cols: [
				[
					{ type: 'radio' },
					{ field: 'id', title: 'ID' },
					{ field: 'cusname', title: '标题' },
					{ field: 'fullname', title: '名称' }
				]
			]
		},
		done: function (elem, data) {
			var NEWJSON = []
			layui.each(data.data, function (index, item) {
				NEWJSON.push(item.cusname);
				$("#refId").val(item.id);
				console.log('info');  
			})
			elem.val(NEWJSON.join(","))
		}
	});
	tableSelect.render({
		elem: '#refUndertakePerson',
		checkedKey: 'id',
		table: {
			url: '/pjProject/listByPage?authorization='+tokenQuery,
			method: 'POST',
			contentType: 'application/json',
			 parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
		        return {
		          "code": res.code, //解析接口状态
		          "msg": res.msg, //解析提示文本
		          "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
		          "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
		        }
		      },
			cols: [
				[
					{ type: 'radio' },
					{ field: 'id', title: 'ID' },
					{ field: 'cusname', title: '标题' },
					{ field: 'fullname', title: '名称' }
				]
			]
		},
		done: function (elem, data) {
			var NEWJSON = []
			layui.each(data.data, function (index, item) {
				NEWJSON.push(item.cusname);
				$("#refId").val(item.id);
				console.log('info');  
			})
			elem.val(NEWJSON.join(","))
		}
	});
	tableSelect.render({
		elem: '#refUndertakTpersonDo',
		checkedKey: 'id',
		table: {
			url: '/pjProject/listByPage?authorization='+tokenQuery,
			method: 'POST',
			contentType: 'application/json',
			 parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
		        return {
		          "code": res.code, //解析接口状态
		          "msg": res.msg, //解析提示文本
		          "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
		          "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
		        }
		      },
			cols: [
				[
					{ type: 'radio' },
					{ field: 'id', title: 'ID' },
					{ field: 'cusname', title: '标题' },
					{ field: 'fullname', title: '名称' }
				]
			]
		},
		done: function (elem, data) {
			var NEWJSON = []
			layui.each(data.data, function (index, item) {
				NEWJSON.push(item.cusname);
				$("#refId").val(item.id);
				console.log('info');  
			})
			elem.val(NEWJSON.join(","))
		}
	});
	
    //表头工具
    table.on('toolbar(showTable)', function(obj){
      switch(obj.event){
        case 'batchDeleted':
          var checkStatus = table.checkStatus(obj.config.id);
          var data = checkStatus.data;
          if(data.length==0){
            layer.msg("请选择要批量删除的列");
          }else {
            var ids = [];
            $(data).each(function (index,item) {
              ids.push(item.id);
            });
            tipDialog(ids);
          }
          break;
        case 'add':
          $(".table_div").hide();
          $(".operation").show();
          $(".title").html("新增");
          $(".operation input[name=id]").val("");
          $(".operation input[name=projectCode]").val("");
          $(".operation input[name=projectName]").val("");
          $(".operation input[name=dictProjectType]").val("");
          $(".operation input[name=dictProjectTypeSub]").val("");
          $(".operation input[name=refIdCuscode]").val("");
          $(".operation input[name=refCusname]").val("");
          $(".operation input[name=projectStarttime]").val("");
          $(".operation input[name=projectEndtime]").val("");
          $(".operation input[name=cusnameTodo]").val("");
          $(".operation input[name=refProjectManager]").val("");
          $(".operation input[name=refUndertakePerson]").val("");
          $(".operation input[name=refUndertakTpersonDo]").val("");
          $(".operation input[name=dictRiskAssessment]").val("");
          $(".operation input[name=dictFirstUndertake]").val("");
          $(".operation input[name=customerReq]").val("");
          $(".operation input[name=remark]").val("");
          $(".operation input[name=projectProgress]").val("");
	          break;
      };
    });
    //列操作
    table.on('tool(showTable)',function (obj) {
      var data = obj.data;
      switch (obj.event) {
        case 'del':
          var ids=[];
          ids.push(data.id);
          tipDialog(ids);
          break;
        case 'edit':
          $(".table_div").hide();
          $(".operation").show();
          $(".title").html("编辑");
          $(".operation input[name=id]").val(data.id);
          $(".operation input[name=projectCode]").val(data.projectCode);
          $(".operation input[name=projectName]").val(data.projectName);
          $(".operation input[name=dictProjectType]").val(data.dictProjectType);
          $(".operation input[name=dictProjectTypeSub]").val(data.dictProjectTypeSub);
          $(".operation input[name=refIdCuscode]").val(data.refIdCuscode);
          $(".operation input[name=refCusname]").val(data.refCusname);
          $(".operation input[name=projectStarttime]").val(data.projectStarttime);
          $(".operation input[name=projectEndtime]").val(data.projectEndtime);
          $(".operation input[name=cusnameTodo]").val(data.cusnameTodo);
          $(".operation input[name=refProjectManager]").val(data.refProjectManager);
          $(".operation input[name=refUndertakePerson]").val(data.refUndertakePerson);
          $(".operation input[name=refUndertakTpersonDo]").val(data.refUndertakTpersonDo);
          $(".operation input[name=dictRiskAssessment]").val(data.dictRiskAssessment);
          $(".operation input[name=dictFirstUndertake]").val(data.dictFirstUndertake);
          $(".operation input[name=customerReq]").val(data.customerReq);
          $(".operation input[name=remark]").val(data.remark);
          $(".operation input[name=projectProgress]").val(data.projectProgress);
			  form.render();
          break;
        case 'file':
          CoreUtil.setData("bizcustomertest_rowdata",data);
          var index = layer.open({
              title: '上传附件',
              type: 2,
              shade: 0.2,
              maxmin:true,
              shadeClose: true,
              area: ['80%', '80%'],
              content: '/index/sysFilesByUser',
          });
          $(window).on("resize", function () {
              layer.full(index);
          });
          return false;
      }
    });

    //导出
    $('#export').on('click', function () {
      //原先分页limit
      var exportParams = {
        limit: 10000,
        key: $("#key").val()
      };
      CoreUtil.sendPost("/pjProject/listByPage", exportParams, function (res) {
        //初始化渲染数据
        if (res.data != null && res.data.records != null) {
          table.exportFile(tableIns1.config.id, res.data.records, 'xls');
        }
      });
    });

    //删除
    var tipDialog=function (ids) {
      layer.open({
        content: "确定要删除么?",
        yes: function(index, layero){
          layer.close(index); //如果设定了yes回调，需进行手工关闭
          CoreUtil.sendDelete("/pjProject/delete",ids,function (res) {
            layer.msg(res.msg, {time:1000},function () {
              search();
            });
          });
        }
      });
    };

    //返回
    $("#btn_cancel").click(function() {
      $(".table_div").show();
      $(".operation").hide();
      return false;
    });

    //监听保存
    form.on('submit(submit)', function(data){
      if(data.field.id===undefined || data.field.id===null || data.field.id===""){
        CoreUtil.sendPost("/pjProject/add",data.field,function (res) {
          $(".table_div").show();
          $(".operation").hide();
          search();
        });
      }else {
        CoreUtil.sendPut("/pjProject/update",data.field,function (res) {
          $(".table_div").show();
          $(".operation").hide();
          search();
        });
      }
      return false;
    });
  });

  //执行查询
  function search() {
    //这里以搜索为例
    tableIns1.reload({
      where: { //设定异步数据接口的额外参数，任意设
        '1':'1'
        //,key: $("#key").val()
		,projectCode: $("#projectCodeCondition").val()
		,projectName: $("#projectNameCondition").val()
		,dictProjectType: $("#dictProjectTypeCondition").val()
		,dictProjectTypeSub: $("#dictProjectTypeSubCondition").val()
		,refCusname: $("#refCusnameCondition").val()
		,projectStarttime: $("#projectStarttimeCondition").val()
		,projectEndtime: $("#projectEndtimeCondition").val()
		,cusnameTodo: $("#cusnameTodoCondition").val()
		,refProjectManager: $("#refProjectManagerCondition").val()
		,dictRiskAssessment: $("#dictRiskAssessmentCondition").val()
		,projectProgress: $("#projectProgressCondition").val()
      }
      ,page: {
        curr: 1 //重新从第 1 页开始
      }
    });
  };
  
  //根据数据库字段长度及是否必填属性生成校验表单字段长度
  //lay-verify="required|account" lay-min="6" 
  // https://blog.csdn.net/m0_48373030/article/details/108783184
    form.verify({
projectCode: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '项目编码不能大于'+max+'个字符的长度！';
            }
        }  ,  projectName: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '项目名称不能大于'+max+'个字符的长度！';
            }
        }  ,  dictProjectType: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '项目类型不能大于'+max+'个字符的长度！';
            }
        }  ,  dictProjectTypeSub: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '项目类型细分不能大于'+max+'个字符的长度！';
            }
        }  ,  refIdCuscode: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '客户编码不能大于'+max+'个字符的长度！';
            }
        }  ,  refCusname: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '客户(委托单位)不能大于'+max+'个字符的长度！';
            }
        }  ,  projectStarttime: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '项目计划开始时间不能大于'+max+'个字符的长度！';
            }
        }  ,  projectEndtime: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '项目计划结束时间不能大于'+max+'个字符的长度！';
            }
        }  ,  cusnameTodo: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '被评估单位不能大于'+max+'个字符的长度！';
            }
        }  ,  refProjectManager: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '项目经理不能大于'+max+'个字符的长度！';
            }
        }  ,  refUndertakePerson: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '承接(合伙)人不能大于'+max+'个字符的长度！';
            }
        }  ,  refUndertakTpersonDo: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '承做(合伙)人不能大于'+max+'个字符的长度！';
            }
        }  ,  dictRiskAssessment: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '风险评估等级不能大于'+max+'个字符的长度！';
            }
        }  ,  dictFirstUndertake: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '首次承接不能大于'+max+'个字符的长度！';
            }
        }  ,  customerReq: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '客户诉求不能大于'+max+'个字符的长度！';
            }
        }  ,  remark: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '备注不能大于'+max+'个字符的长度！';
            }
        }  ,  projectProgress: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '项目进度不能大于'+max+'个字符的长度！';
            }
        }  ,  	    });
</script>