<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jun.plugin.bizservice.mapper.BizCommonMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.jun.plugin.bizservice.entity.BizCommonEntity" id="bizCommonMap">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="desc" column="desc"/>
        <result property="key" column="key"/>
        <result property="value" column="value"/>
        <result property="date" column="date"/>
        <result property="remark" column="remark"/>
    </resultMap>


</mapper>