<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jun.plugin.bizservice.mapper.PjContractMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.jun.plugin.bizservice.entity.PjContractEntity" id="pjContractMap">
        <result property="id" column="id"/>
        <result property="refidProjectCodeHide" column="refid_project_code_hide"/>
        <result property="refProjectName" column="ref_project_name"/>
        <result property="dictContractState" column="dict_contract_state"/>
        <result property="dictContractType" column="dict_contract_type"/>
        <result property="contractNo" column="contract_no"/>
        <result property="contractName" column="contract_name"/>
        <result property="signTime" column="sign_time"/>
        <result property="reportCount" column="report_count"/>
        <result property="reportDetail" column="report_detail"/>
        <result property="contractMoney" column="contract_money"/>
        <result property="signBy" column="sign_by"/>
        <result property="contractDays" column="contract_days"/>
        <result property="contractDetails" column="contract_details"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="createId" column="create_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateId" column="update_id"/>
        <result property="deleted" column="deleted"/>
    </resultMap>


</mapper>