<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jun.plugin.bizservice.mapper.BizMailMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.jun.plugin.bizservice.entity.BizMailEntity" id="bizMailMap">
        <result property="id" column="id"/>
        <result property="recipients" column="recipients"/>
        <result property="copyRecipients" column="copy_recipients"/>
        <result property="blindCopyRecipients" column="blind_copy_recipients"/>
        <result property="dictMsgType" column="dict_msg_type"/>
        <result property="mailSubject" column="mail_subject"/>
        <result property="mailBody" column="mail_body"/>
        <result property="dictBodyFormat" column="dict_body_format"/>
        <result property="dictImportance" column="dict_importance"/>
        <result property="sensitivity" column="sensitivity"/>
        <result property="requestDate" column="request_date"/>
        <result property="sentStatus" column="sent_status"/>
        <result property="retryingTimes" column="retrying_times"/>
        <result property="sentDate" column="sent_date"/>
    </resultMap>


</mapper>