<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jun.plugin.bizservice.mapper.OaOfficeCountMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.jun.plugin.bizservice.entity.OaOfficeCountEntity" id="oaOfficeCountMap">
        <result property="id" column="id"/>
        <result property="dictProduct" column="dict_product"/>
        <result property="dictProductType" column="dict_product_type"/>
        <result property="refUsername" column="ref_username"/>
        <result property="refProjectRole" column="ref_project_role"/>
        <result property="detail1" column="detail1"/>
        <result property="detail2" column="detail2"/>
        <result property="detail3" column="detail3"/>
        <result property="detail4" column="detail4"/>
        <result property="detail5" column="detail5"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="createId" column="create_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateId" column="update_id"/>
    </resultMap>


</mapper>