<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jun.plugin.bizservice.mapper.OaPomsWorkmarksPayrollMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.jun.plugin.bizservice.entity.OaPomsWorkmarksPayrollEntity" id="oaPomsWorkmarksPayrollMap">
        <result property="id" column="id"/>
        <result property="usercode" column="usercode"/>
        <result property="refUsername" column="ref_username"/>
        <result property="month" column="month"/>
        <result property="workDayCount" column="work_day_count"/>
        <result property="sholdbeWorkDayCount" column="sholdbe_work_day_count"/>
        <result property="workTotalHours" column="work_total_hours"/>
        <result property="shoulbeWorkHours" column="shoulbe_work_hours"/>
        <result property="payroll" column="payroll"/>
        <result property="payrollState" column="payroll_state"/>
        <result property="payrollStateMsg" column="payroll_state_msg"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="createId" column="create_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateId" column="update_id"/>
        <result property="deleted" column="deleted"/>
    </resultMap>


</mapper>