<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jun.plugin.bizservice.mapper.OaPomsWorkmarksOutsiteMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.jun.plugin.bizservice.entity.OaPomsWorkmarksOutsiteEntity" id="oaPomsWorkmarksOutsiteMap">
        <result property="id" column="id"/>
        <result property="usercode" column="usercode"/>
        <result property="refUsername" column="ref_username"/>
        <result property="wordOutsite" column="word_outsite"/>
        <result property="workDay" column="work_day"/>
        <result property="beginTime" column="begin_time"/>
        <result property="endTime" column="end_time"/>
        <result property="workTotalTime" column="work_total_time"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="createId" column="create_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateId" column="update_id"/>
        <result property="deleted" column="deleted"/>
    </resultMap>


</mapper>