<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jun.plugin.bizservice.mapper.OaUserWorktimesMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.jun.plugin.bizservice.entity.OaUserWorktimesEntity" id="oaUserWorktimesMap">
        <result property="id" column="id"/>
        <result property="refUsercoce" column="ref_usercoce"/>
        <result property="refUsername" column="ref_username"/>
        <result property="refUserdept" column="ref_userdept"/>
        <result property="leaveDate" column="leave_date"/>
        <result property="leaveInTime" column="leave_in_time"/>
        <result property="leaveOutTime" column="leave_out_time"/>
        <result property="leaveInCase" column="leave_in_case"/>
        <result property="leaveInXy" column="leave_in_xy"/>
        <result property="leanveOutCase" column="leanve_out_case"/>
        <result property="leanveOutXy" column="leanve_out_xy"/>
        <result property="dictException" column="dict_exception"/>
        <result property="dictWordtimeStatus" column="dict_wordtime_status"/>
        <result property="approveDesc" column="approve_desc"/>
        <result property="approveQingjia" column="approve_qingjia"/>
        <result property="actualAttendance" column="actual_attendance"/>
        <result property="absent" column="absent"/>
        <result property="leanveRetroactive" column="leanve_retroactive"/>
        <result property="backMark1" column="back_mark1"/>
        <result property="dictApproveType" column="dict_approve_type"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="createId" column="create_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateId" column="update_id"/>
    </resultMap>


</mapper>