<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jun.plugin.bizservice.mapper.PjProjectDraftMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.jun.plugin.bizservice.entity.PjProjectDraftEntity" id="pjProjectDraftMap">
        <result property="id" column="id"/>
        <result property="draftName" column="draft_name"/>
        <result property="refProjectCode" column="ref_project_code"/>
        <result property="refDraftType" column="ref_draft_type"/>
        <result property="draftDesc" column="draft_desc"/>
        <result property="customerReq" column="customer_req"/>
        <result property="draftTime" column="draft_time"/>
        <result property="draftBy" column="draft_by"/>
        <result property="draftCustomerPerson" column="draft_customer_person"/>
        <result property="draftGivenTime" column="draft_given_time"/>
        <result property="draftFinashDays" column="draft_finash_days"/>
        <result property="refFilename" column="ref_filename"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="createId" column="create_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateId" column="update_id"/>
    </resultMap>


</mapper>