<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jun.plugin.bizservice.mapper.PjProjectRecheckMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.jun.plugin.bizservice.entity.PjProjectRecheckEntity" id="pjProjectRecheckMap">
        <result property="id" column="id"/>
        <result property="refPcode" column="ref_pcode"/>
        <result property="refPname" column="ref_pname"/>
        <result property="refPmanager" column="ref_pmanager"/>
        <result property="refPreport" column="ref_preport"/>
        <result property="refPmanager2" column="ref_pmanager2"/>
        <result property="recheckMan" column="recheck_man"/>
        <result property="recheckAdvice" column="recheck_advice"/>
        <result property="recheckState" column="recheck_state"/>
        <result property="currMan" column="curr_man"/>
        <result property="dictWfState" column="dict_wf_state"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="createId" column="create_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateId" column="update_id"/>
    </resultMap>


</mapper>