<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jun.plugin.bizservice.mapper.PjProjectBorrowMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.jun.plugin.bizservice.entity.PjProjectBorrowEntity" id="pjProjectBorrowMap">
        <result property="id" column="id"/>
        <result property="refProjectCode" column="ref_project_code"/>
        <result property="refProjectName" column="ref_project_name"/>
        <result property="refUserCode" column="ref_user_code"/>
        <result property="refUserName" column="ref_user_name"/>
        <result property="borrowDesc" column="borrow_desc"/>
        <result property="endTime" column="end_time"/>
        <result property="dictBorrowState" column="dict_borrow_state"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="createId" column="create_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateId" column="update_id"/>
    </resultMap>


</mapper>