<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jun.plugin.bizservice.mapper.PjProjectInvoiceMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.jun.plugin.bizservice.entity.PjProjectInvoiceEntity" id="pjProjectInvoiceMap">
        <result property="id" column="id"/>
        <result property="invoiceCustomer" column="invoice_customer"/>
        <result property="invoiceProject" column="invoice_project"/>
        <result property="invoiceType" column="invoice_type"/>
        <result property="invoiceCompanyName" column="invoice_company_name"/>
        <result property="invoiceTaxNo" column="invoice_tax_no"/>
        <result property="address" column="address"/>
        <result property="telephone" column="telephone"/>
        <result property="bank" column="bank"/>
        <result property="bankCardNo" column="bank_card_no"/>
        <result property="invoiceMan" column="invoice_man"/>
        <result property="invoiceMoney" column="invoice_money"/>
        <result property="invoiceState" column="invoice_state"/>
        <result property="dictWfState" column="dict_wf_state"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="createId" column="create_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateId" column="update_id"/>
        <result property="deleted" column="deleted"/>
    </resultMap>


</mapper>