<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jun.plugin.bizservice.mapper.PjProjectMemberMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.jun.plugin.bizservice.entity.PjProjectMemberEntity" id="pjProjectMemberMap">
        <result property="id" column="id"/>
        <result property="refProjectCode" column="ref_project_code"/>
        <result property="refProjectName" column="ref_project_name"/>
        <result property="refMemberName" column="ref_member_name"/>
        <result property="memberRole" column="member_role"/>
        <result property="memberWorkContent" column="member_work_content"/>
        <result property="memberParts" column="member_parts"/>
        <result property="memberWorkDays" column="member_work_days"/>
        <result property="memberPartsMoney" column="member_parts_money"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="createId" column="create_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateId" column="update_id"/>
        <result property="deleted" column="deleted"/>
    </resultMap>


</mapper>