<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/css/custom.form.css">
  <style>
		element.style { width: 180px; }
		.layui-form-label.layui-required:after{
	        content:"*";
	        color:red;
	        position: absolute;
	        top:10px;
	        left:24px;
	    }
  </style>
</head>
<body>
<!-- 新增修改的DIV页面-begin,默认hidden -->
<div class="panel panel-default operation" hidden>
  <div class="panel-heading title"></div>
<div class="layui-card-body">
<form class="layui-form " action="" lay-filter="info" style="width: 700px;margin-top: 10px">
###遍历新增修改表单
#foreach($column in $columns)
  #if($column.columnName == $pk.columnName)
    <input name="${column.attrname}" id="${column.attrname}" hidden/>
  #else
##跳过循环，新增及修改时间字段，注解支持，不展示
#if($column.columnName.toString().contains("create")  || $column.columnName.toString().contains("deleted")  || $column.columnName.toString().contains("update")) 
	#break
#end
    <div class="layui-form-item" #if($column.columnName == $pk.columnName) ,hide:true #end  #if($column.comments=='') style="display:none" #end>
      <label class="layui-form-label #if($column.isNull == 'NO')layui-required#end " >${column.comments}</label>
      <div class="layui-input-block">
##注解支持，不展示
#if($column.dataType == 'datetime')
	<input type="${column.attrname}" name="${column.attrname}"  id="${column.attrname}" lay-verify="#if($column.isNull == 'NO')required|#end date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
#elseif($column.columnName.toString().contains("dict"))
	<select id="${column.attrname}" name="${column.attrname}" lay-filter="select-type" th:with="type=${@sysDictService.getType('${column.columnName}')}">
        <option value="0">请选择</option>
        <option th:each="dict : ${type}" th:text="${dict.label}" th:value="${dict.value}"></option>
    </select>
#elseif($column.dataType == 'text')
	    <textarea placeholder="请输入内容" class="layui-textarea" name="${column.attrname}"  id="${column.attrname}"></textarea>
#else
	#if($column.isNull == 'NO') 
	<input type="${column.attrname}" name="${column.attrname}"  id="${column.attrname}"  lay-verify="required|${column.attrname}" lay-max="${column.maxLength}"   placeholder="请输入${column.comments}"  autocomplete="off" class="layui-input">
	#else
	<input type="text" name="${column.attrname}"  id="${column.attrname}"  placeholder="请输入${column.comments}" autocomplete="off" class="layui-input">
	#end
#end
  </div>
 </div>
#end
#end
<div class="layui-form-item">
  <div class="layui-input-block">
    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
    <button  class="layui-btn layui-btn-primary" id="btn_cancel">返回</button>
  </div>
</div>
</form>
</div>
</div>
<!-- 新增修改的DIV页面-end -->

<!-- 查询列表的DIV页面-start -->
<div class="table_div">
  <div id="searchParam"  shiro:hasPermission="${classname}:list">
    <div class="layui-form-item">
###遍历查询条件       
#foreach($column in $columns)
#if($column.columnName != $pk.columnName && $column.isNull == 'NO') 
##跳过循环，新增及修改时间字段，注解支持，不展示
#if($column.columnName.toString().contains("create")  || $column.columnName.toString().contains("deleted")   || $column.columnName.toString().contains("update")) 
	#break
#end
#if($column.dataType == 'datetime')
      <div class="layui-input-inline">
	<input type="${column.attrname}" name="${column.attrname}Condition"  id="${column.attrname}Condition" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
      </div>
#else
      <div class="layui-input-inline">
    <input type="${column.attrname}" name="${column.attrname}Condition"  id="${column.attrname}Condition" class="layui-input"  autocomplete="off" placeholder="请输入${column.comments}">
      </div>
#end
#end
#end
      <div class="layui-input-inline ">
        <button class="layui-btn" onclick="search()"  id="search">查询</button>
        <button class="layui-btn"   id="export">导出全部</button>
      </div>
    </div>
  </div>
  <!-- 渲染列表，上面的是工具栏 -->
  <table class="layui-table" id="showTable" lay-filter="showTable" ></table>
</div>
<!-- 查询列表的DIV页面-end -->
<script type="text/html" id="toolbar">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="add"  shiro:hasPermission="${classname}:add">添加</button>
    <button class="layui-btn layui-btn-sm" lay-event="batchDeleted" shiro:hasPermission="${classname}:delete">删除</button>
  </div>
</script>
<script type="text/html" id="tool">
  <a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasPermission="${classname}:update">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" shiro:hasPermission="${classname}:delete">删除</a>
  <a class="layui-btn layui-btn-xs" lay-event="file" shiro:hasPermission="bizCustomerTest:update">附件</a>
</script>

</body>
</html>
<script src="/layui/layui.all.js"></script>
<script src="/layui-ext/tableSelect.js"></script>
<script src="/js/core.util.js"></script>
<script src="/js/jquery.js"></script>
<script>
  //获取token
  var token = CoreUtil.getData("access_token");
  //地址栏转义token中的#号
  var tokenQuery = token.replace("#", "%23");
  var tableIns1;
  var table = layui.table;
  var form = layui.form;
  var layer = layui.layer;
  var layedit = layui.layedit;
  var $ = jQuery = layui.jquery;
  var laydate = layui.laydate;
  var numberInput = layui.numberInput;
  var tableSelect = layui.tableSelect;
  //定义lay全局对象

  layui.config({
        base: '/layui-ext/'
    }).extend({
        treetable: 'treetable-lay/treetable',
        iconPicker: 'icon/iconPicker',
        numberInput: 'numberInput/js/index'
    }).use(['numberInput','table', 'layer', 'laydate' ,'form', 'layedit'], function () {
	numberInput = layui.numberInput;
	
    //加载table
    tableIns1 = table.render({
      elem: '#showTable'
      , contentType: 'application/json'
      , headers: {"authorization": token}
      , page: true //开启分页
      , url: '/${classname}/listByPage' //数据接口
      , method: 'POST'
      ,size: 'sm' //小尺寸的表格
      , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
	        return {
	          "code": res.code, //解析接口状态
	          "msg": res.msg, //解析提示文本
	          "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
	          "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
	        }
      }
      , cols: [
        [
          {type: 'checkbox', fixed: 'left'},  
#foreach($column in $columns)
##跳过循环，新增及修改时间字段，注解支持，不展示
#if($column.columnName.toString().contains("create")  || $column.columnName.toString().contains("deleted")  || $column.columnName.toString().contains("update")) 
	#break
#end
          {field: '${column.attrname}', title: '${column.comments}', sort: true ##
#if($column.columnName == $pk.columnName || $column.isNull != 'NO') 
,hide:true ##
#end
#if($column.columnName.toString().contains("dict_"))
, templet: function (item) { ##
	            //获取类型对应的字典label
	            var datas = "[[${@sysDictService.getType('${column.columnName}')}]]".replace(/&quot;/g,"\"");
	            return CoreUtil.selectDictLabel(datas, item.${column.attrname});
            }
#end 
}, 
#end
          {width: 160, toolbar: "#tool", title: '操作'}
        ]
      ]
      , toolbar: '#toolbar'
    });


//遍历列，并渲染各种表单组件
#foreach($column in $columns) 
#if($column.columnName != $pk.columnName)
##跳过循环，新增及修改时间字段，注解支持，不展示
#if($column.columnName.toString().contains("create")  || $column.columnName.toString().contains("deleted")   || $column.columnName.toString().contains("update")) 
	#break
#end
#if($column.dataType == 'datetime')
 	//日期
	laydate.render({
	    elem: '#${column.attrname}'
	    ,type: 'datetime'
    });
#elseif($column.dataType == 'decimal' )
	numberInput.render("#${column.attrname}", {
	    autoSelcet: false,
	    max: 10000000000,
	    min: 0,
		step: 1,
	    precision: 2
	});
#elseif($column.dataType == 'int')
	numberInput.render("#${column.attrname}", {
	    autoSelcet: false,
	    max: 10000000000,
	    min: 0,
		step: 1,
	    precision: 0
	});
#end
#if($column.columnName.toString().contains("ref_"))
	tableSelect.render({
		elem: '#${column.attrname}',
		checkedKey: 'id',
		table: {
			url: '/${classname}/listByPage?authorization='+tokenQuery,
			method: 'POST',
			contentType: 'application/json',
			 parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
		        return {
		          "code": res.code, //解析接口状态
		          "msg": res.msg, //解析提示文本
		          "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
		          "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
		        }
		      },
			cols: [
				[
					{ type: 'radio' },
					{ field: 'id', title: 'ID' },
					{ field: 'cusname', title: '标题' },
					{ field: 'fullname', title: '名称' }
				]
			]
		},
		done: function (elem, data) {
			var NEWJSON = []
			layui.each(data.data, function (index, item) {
				NEWJSON.push(item.cusname);
				$("#refId").val(item.id);
				console.log('info');  
			})
			elem.val(NEWJSON.join(","))
		}
	});
#end
#end
#end

    //表头工具
    table.on('toolbar(showTable)', function(obj){
      switch(obj.event){
        case 'batchDeleted':
          var checkStatus = table.checkStatus(obj.config.id);
          var data = checkStatus.data;
          if(data.length==0){
            layer.msg("请选择要批量删除的列");
          }else {
            var ids = [];
            $(data).each(function (index,item) {
              ids.push(item.id);
            });
            tipDialog(ids);
          }
          break;
        case 'add':
          $(".table_div").hide();
          $(".operation").show();
          $(".title").html("新增");
#foreach($column in $columns)
##跳过循环，新增及修改时间字段，注解支持，不展示
#if($column.columnName.toString().contains("create")  || $column.columnName.toString().contains("deleted")   || $column.columnName.toString().contains("update")) 
	#break
#end
          $(".operation input[name=${column.attrname}]").val("");
#end
          break;
      };
    });
    //列操作
    table.on('tool(showTable)',function (obj) {
      var data = obj.data;
      switch (obj.event) {
        case 'del':
          var ids=[];
          ids.push(data.id);
          tipDialog(ids);
          break;
        case 'edit':
          $(".table_div").hide();
          $(".operation").show();
          $(".title").html("编辑");
#foreach($column in $columns)
##跳过循环，新增及修改时间字段，注解支持，不展示
#if($column.columnName.toString().contains("create")  || $column.columnName.toString().contains("deleted") || $column.columnName.toString().contains("update")) 
	#break
#end
          $(".operation input[name=${column.attrname}]").val(data.${column.attrname});
#end
		  form.render();
          break;
        case 'file':
          CoreUtil.setData("bizcustomertest_rowdata",data);
          var index = layer.open({
              title: '上传附件',
              type: 2,
              shade: 0.2,
              maxmin:true,
              shadeClose: true,
              area: ['80%', '80%'],
              content: '/index/sysFilesByUser',
          });
          $(window).on("resize", function () {
              layer.full(index);
          });
          return false;
      }
    });

    //导出
    $('#export').on('click', function () {
      //原先分页limit
      var exportParams = {
        limit: 10000,
        key: $("#key").val()
      };
      CoreUtil.sendPost("/${classname}/listByPage", exportParams, function (res) {
        //初始化渲染数据
        if (res.data != null && res.data.records != null) {
          table.exportFile(tableIns1.config.id, res.data.records, 'xls');
        }
      });
    });

    //删除
    var tipDialog=function (ids) {
      layer.open({
        content: "确定要删除么?",
        yes: function(index, layero){
          layer.close(index); //如果设定了yes回调，需进行手工关闭
          CoreUtil.sendDelete("/${classname}/delete",ids,function (res) {
            layer.msg(res.msg, {time:1000},function () {
              search();
            });
          });
        }
      });
    };

    //返回
    $("#btn_cancel").click(function() {
      $(".table_div").show();
      $(".operation").hide();
      return false;
    });

    //监听保存
    form.on('submit(submit)', function(data){
      if(data.field.id===undefined || data.field.id===null || data.field.id===""){
        CoreUtil.sendPost("/${classname}/add",data.field,function (res) {
          $(".table_div").show();
          $(".operation").hide();
          search();
        });
      }else {
        CoreUtil.sendPut("/${classname}/update",data.field,function (res) {
          $(".table_div").show();
          $(".operation").hide();
          search();
        });
      }
      return false;
    });
  });

  //执行查询
  function search() {
    //这里以搜索为例
    tableIns1.reload({
      where: { //设定异步数据接口的额外参数，任意设
        '1':'1'
        //,key: $("#key").val()
###遍历查询条件       
#foreach($column in $columns)
#if($column.columnName != $pk.columnName && $column.isNull == 'NO') 
		,${column.attrname}: $("#${column.attrname}Condition").val()
#end
#end
      }
      ,page: {
        curr: 1 //重新从第 1 页开始
      }
    });
  };
  
  //根据数据库字段长度及是否必填属性生成校验表单字段长度
  //lay-verify="required|account" lay-min="6" 
  // https://blog.csdn.net/m0_48373030/article/details/108783184
    form.verify({
#foreach($column in $columns) 
#if($column.columnName != $pk.columnName)
##跳过循环，新增及修改时间字段，注解支持，不展示
#if($column.columnName.toString().contains("create")  || $column.columnName.toString().contains("deleted") || $column.columnName.toString().contains("update")) 
	#break
#end
${column.attrname}: function(value, item){
            var max = item.getAttribute('lay-max');
            if(value.length > max){
                return '${column.comments}不能大于'+max+'个字符的长度！';
            }
        } #if($columns.size() != ${velocityCount}) ,  #end
#end
#end
    });
</script>